:root {
    --rj-dark-blue: #003358;
    --rj-light-gray: #f8f9fa;
}

body {
    background-color: var(--rj-light-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: var(--rj-dark-blue) !important;
}

.navbar-logo {
    height: 30px;
    width: auto;
}

main.container {
    flex: 1 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main-content-wrapper {
    padding-top: 56px;
}

.page-header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.footer {
    flex-shrink: 0;
    background-color: var(--rj-dark-blue) !important;
}

.navbar .nav-item .nav-link.dropdown-toggle {
    background: none;
    border: none;
}