<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Magnetfeld Simulation{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_rolf-janssen_2024.svg') }}" type="image/svg+xml">
</head>

<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/logo_rolf-janssen_2024.svg') }}" alt="Rolf Janssen Logo"
                id="header-logo">
            <h1>Simulations-Konfigurator</h1>
        </div>

        <nav id="main-nav">
            <div class="nav-item">
                <a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">Home</a>
            </div>

            <div class="nav-item has-dropdown">
                <a href="{{ url_for('configurator') }}"
                    class="{{ 'active' if request.endpoint in ['configurator', 'bauteile'] else '' }}">Konfigurator</a>
                <div class="dropdown-menu">
                    <a href="{{ url_for('configurator') }}">Simulation</a>
                    <a href="{{ url_for('bauteile') }}">Bauteile</a>
                </div>
            </div>

            <div class="nav-item">
                <a href="{{ url_for('simulation') }}"
                    class="{{ 'active' if request.endpoint == 'simulation' else '' }}">Simulation</a>
            </div>

            <div class="nav-item">
                <a href="{{ url_for('analysis') }}"
                    class="{{ 'active' if request.endpoint == 'analysis' else '' }}">Analyse</a>
            </div>

            <div class="nav-slider"></div>
        </nav>

        <div class="header-right"></div>
    </header>

    {% block sub_nav %}{% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Oliver Schmidt</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tags.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>