<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Ergebnisse{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="sub-nav-bar">
        <h2>Simulationsergebnisse</h2>
    </div>

    <div class="results-grid-container">
        <div class="form-group grid-col-span-3">
            <label for="run-selector">1. Wähle einen Simulationslauf:</label>
            <select id="run-selector">
                <option value="">Bitte wählen...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="position-selector">2. Wähle einen Positionsschritt:</label>
            <select id="position-selector" disabled>
                <option value="">--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="current-selector">3. Wähle einen Primärstrom:</label>
            <select id="current-selector" disabled>
                <option value="">--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="y-axis-selector">4. Anzuzeigender Wert (Y-Achse):</label>
            <select id="y-axis-selector" disabled>
                <option value="">--</option>
            </select>
        </div>
    </div>

    <div id="conductor-selector" class="conductor-selector">
    </div>

    <div id="results-content" class="results-content-grid">
        <div class="plot-container">
            <p id="loading-message" class="loading-message">Lade Diagramm...</p>
            <div id="plot-div"></div>
        </div>
        <div class="plot-container component-preview">
            <p id="preview-loading-message" class="loading-message">Lade Vorschau...</p>
            <svg id="results-preview-svg"></svg>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/preview.js', v=timestamp) }}"></script>
<script src="{{ url_for('static', filename='js/results.js', v=timestamp) }}"></script>
{% endblock %}